<h2>Template : Basicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
            <div class="row mb-3">
                <div class="col-sm-3 col-form-label">Producto</div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre del producto" formControlName="nombre">
                    <span class="form-text text-danger" *ngIf="camposNoValido('nombre')">
                        <!-- *ngIf="miFormulario.controls['nombre'].errors && miFormulario.controls['nombre'].touched" -->
                        Debe ser de 3 letras
                    </span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 col-form-label">Precio</div>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Precio del producto" formControlName="precio">
                    <span class="form-text text-danger" *ngIf="camposNoValido('precio')">
                        El precio debe ser 0 o mayor
                    </span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Existencias del producto" formControlName="existencias">
                    <span class="form-text text-danger" *ngIf="camposNoValido('existencias')">
                        Las existencias deben ser 0 o mayor
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" >Guardar</button>
                    <!-- [disabled]="miFormulario.invalid" -->
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>
            {{ miFormulario.valid | json }}
        </pre>
        <span>Prestine - Explicacion: Sirve para saber si se realizo un cambio en el formulario</span>
        <pre>
            {{ miFormulario.pristine | json }}
        </pre>
        <span>Touche</span>
        <pre>
            {{ miFormulario.touched | json }}
        </pre>
        <span>Value</span>
        <pre>
            {{ miFormulario.value | json }}
        </pre>
        <span>precio</span>
        <pre>
            {{ miFormulario.controls['precio'].errors | json }}
        </pre>
    </div>
</div>