<p>dinamicos works!</p>
<h2>Template: <small>Dinamicos</small></h2>
<hr>
<form action="" autocomplete="off">
    
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <!--Asi es para asocial el valor a un campo [ngModel]="" y asi es para emitir el valor [(ngModel)]=""-->
            <input type="text" class="form-control" placeholder="nombre de la persona" name="nombre" required>
            <span class="from-text text-danger" >
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Agreagr juego favorito" aria-label="" name="newJuego">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" >Add</button>
            </div>
           
        </div>
    </div>
    
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1" >
                <input type="text" class="form-control"    required>
                <button class="btn btn-outline-danger" type="button" id="button-addon2" >Delete</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary float-end" >
                Guardar
            </button>
        </div>
    </div>
</form>

<!-- <span>Persona</span>
<pre>{{persona | json}}</pre> -->